<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Advertisement Upload</title>
    </head>
    <body>
        <h1>GreatNight Advertisement Request</h1>
        <p>Please fill out the form below and our approval team will review your advertisement. 
            If you have any questions or concerns email support@greatnight.us</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Business Name">
            <label>Description</label>
            <textarea></textarea>
            <input type="file" name="file">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>