resource "aws_security_group" "greatnight-{{ env }}-alb-sg" {
    vpc_id = var.vpc_id
    egress = [
      {
        cidr_blocks      = ["0.0.0.0/0", ]
        description      = ""
        from_port        = 0
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "-1"
        security_groups  = []
        self             = false
        to_port          = 0
      }
    ]
    ingress = [
      {
        cidr_blocks      = ["0.0.0.0/0"]
        description      = ""
        from_port        = 443
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "TCP"
        security_groups  = []
        self             = false
        to_port          = 443
      },
      {
        cidr_blocks      = [var.vpc_cidr_block]
        description      = ""
        from_port        = 0
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "-1"
        security_groups  = []
        self             = false
        to_port          = 0
      },
      {
        cidr_blocks      = ["0.0.0.0/0"]
        description      = ""
        from_port        = 80
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "TCP"
        security_groups  = []
        self             = false
        to_port          = 80
      }
  
    ]
  }
  
  
  resource "aws_security_group" "greatnight-{{ env }}-tasks-sg" {
    vpc_id = var.vpc_id
    egress = [
      {
        cidr_blocks      = ["0.0.0.0/0", ]
        description      = ""
        from_port        = 0
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "-1"
        security_groups  = []
        self             = false
        to_port          = 0
      }
    ]
    ingress = [
      {
        cidr_blocks      = [var.vpc_cidr_block]
        description      = ""
        from_port        = 0
        ipv6_cidr_blocks = []
        prefix_list_ids  = []
        protocol         = "-1"
        security_groups  = []
        self             = false
        to_port          = 0
      }
    ]
  }